db_1-3/lab_3/S_MyBASE_fg1-1.ndf
db_1-3/lab_3/S_MyBASE_fg1-2.ndf
db_1-3/lab_3/S_MyBASE_log.ldf
db_1-3/lab_3/S_MyBASE_mdf.mdf
db_1-3/lab_3/S_MyBASE_ndf.ndf
db_1-5/lab_3/S_MyBASE_fg1-1.ndf
db_1-5/lab_3/S_MyBASE_fg1-2.ndf
db_1-5/lab_3/S_MyBASE_log.ldf
db_1-5/lab_3/S_MyBASE_mdf.mdf
db_1-5/lab_3/S_MyBASE_ndf.ndf
db_1-15/lab_3/S_MyBASE_fg1-1.ndf
db_1-15/lab_3/S_MyBASE_fg1-2.ndf
db_1-15/lab_3/S_MyBASE_log.ldf
db_1-15/lab_3/S_MyBASE_mdf.mdf
db_1-15/lab_3/S_MyBASE_ndf.ndf
